# compiled output
/dist
/node_modules

# Except all files
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#environment
.env
.env.test

#docker data
docker/mysql/data/**
docker/redis/data/**
